<a href="https://colab.research.google.com/github/shak2809/data-with-python/blob/main/Lists_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

Often we need to store a number of single items of data together so that they can be processed together. This might be because all the data refers to one person (e.g. name, age, gender, etc) OR it might be because we have a set of data (e.g. all the categories that a notice relates to)

Python has a range of data structures available including:
*   lists  
*   tuples  
*   dictionaries  
*   sets

This worksheet looks at lists.

## List
A list is a set of related, individual data objects, that are indexed and can be processed as a whole, as subsets or as individual items.  Lists are stored, essentially, as contiguous items in memory so that access can be as quick as possible.  However, they are mutable (they can be changed after they are created and stored) and so those mechanisms need to include extra functionality to deal with changing list sizes.

A list is created with a name and and equals sign, and all the elements in the list are within square brackets, separated by a comma.  If the element is a string, it will also be in speech marks:

```
categories_list = ["well being", "local events", "community events", "families and parents", "jobs and volunteering" ]
```

## List functions

**length of list** - counts the elements in a list and returns the total

len(categories_list)

## List indexing
To access individual elements in a list, we use their position.  Positioning is numbered from 0 at the beginning of the list, up to 1-length of list.The first element in the list is at position 0, the second at position 1 and so on.

To make it easy to jump to the end of a list, a negative numbering system is used.  The last element is at position -1 (regardless of the length of the list), the second to last is a position -2, etc. So:  

`categories_list[0]` - is the first element in the list  
`categories_list[-1]` - is the last element in the list   

Lists can be sliced using the position of the first element to include and the position after the last element to include.  So:

`categories_list[2:4]` - will get the third and fourth element in the list
`categories_list[-4::]` - will get the last 4 elements in the list
`categories_list[:5]` - will get the first 5 elements in the list  

To change an element in a list, assign a new value to the element at a given position:  

`categories_list[1] = "well-being"` - changes the value of the second element in the list from its original value to its new value

## List methods
There is a full list of the methods (things a list can do to change itself) here:  https://www.w3schools.com/python/python_ref_list.asp

A method is a function that is applied to an object such as a list.  So:

`categories_list.append("learning")` will add "learning" to the end of the list of categories.

A method will change the list directly, so the instruction can stand on its own and doesn't need to store its result back in the original list.

---
### Exercise 1 - manage list of categories

Write a function, **print_categories()** which will:
*  create the list **categories_list** and assign the following list ["well being", "local events", "community events", "families and parents", "jobs and volunteering" ]
*  print the length of the list `categories`
*  print the list of categories one per line (using a for loop)

## Test
The expected output is:

```
5
well being
local events
community events
families and parents
jobs and volunteering
```

In [ ]:
def print_categories():
  categories_list=[ "well being", "local events", "community events", "families and parents", "jobs and volunteering"]
  length=len(categories_list)
  print(length)
  for i in categories_list:
    print(i)
print_categories()

5
well being
local events
community events
families and parents
jobs and volunteering

---
### Exercise 2 - change item in list

Write a function, **change_categories()** which will:
*  create the same list (**categories list**)
*  amend the **first item** in the list so it reads **well-being**
*  print the list (either as it is or using a loop to print one item per line)
*  return the list of categories

**Expected Output**

```
['well-being','local events','community events','families and parents','jobs and volunteering']
```

In [ ]:
def change_categories():
  categories_list=["well being", "local events", "community events", "families and parents", "jobs and volunteering"]
  categories_list[1]="well being"
  print(categories_list)
change_categories()

['well being', 'well being', 'community events', 'families and parents', 'jobs and volunteering']

---
### Exercise 3 - add to list of categories

Write a function, **add_category(new_category)** which will:  
*  create the same `categories_list` again
*  append the new category  (called **new_category**) to the list.  _Hint: use `.append(new_category)`_
*  print the list of categories (using a loop)
*  return the list of categories (e.g. `return categories_list`)

**Add a function call** to run the function with the new category "learning" e.g:
`updated_list = add_category("learning")`

## Test:

The expected output is that the original list is printed with the new category added to the end.

```
well-being
local events
community events
families and parents
jobs and volunteering
learning
```

In [ ]:
def add_category(new_category):
  categories_list=["well being", "local events", "community events", "families and parents", "jobs and volunteering"]
  categories_list.append(new_category)
  for i in categories_list:
    print(i)
  return categories_list
  updated_lst = add_category("learning")
#add_category("new_category")

---
### Exercise 4 - create list of locations

Write a function **show_locations()** which will:
*  create a new list **notice_locations** and add at least 6 locations to the list e.g. Dartford, Medway, Maidstone, Edinburgh, Glasgow, ...
*  print the list of locations using a loop

## Test
An example of the list might be:

Edinburgh  
Glasgow  
Dartford  
Medway  
Maidstone  
Motherwell

In [ ]:
def show_locations():
  notice_locations=["Dartford","Medway","Maidstone","Edinburgh","Glasgow","Motherwell"]
  for i in notice_locations:
    print(i)
show_locations()

Dartford
Medway
Maidstone
Edinburgh
Glasgow
Motherwell

---
### Exercise 5 - create list of preferences

Write a function **filter_locations()** which will:
*  create a new list **locations** and assign the list ['Dartford','Medway','Maidstone','Tunbridge Wells','Dover']
*  create a second, empty, list **filtered_locations**
*  iterate through the list of `locations` and if the location starts with the letter "M", append that location to the new list (**filtered_locations**)
*  print the length of each list
*  print the first and last items in the `filtered_locations` list
*  return the `filtered_locations` list

## Test

The expected output is:

```
5
2
Medway  
Maidstone
```

In [ ]:
def filter_locations():
  locations=["Dartford","Medway","Maidstone","Tunbridge Wells","Dover"]
  filtered_locations=[]
  for location in locations:
    if location.startswith("M"):
      filtered_locations.append(location)
  print(len(locations))
  print(len(filtered_locations))
  first_item = filtered_locations[0]
  print(first_item)
  last_item=filtered_locations[-1]
  print(last_item)
filter_locations()

5
2
Medway
Maidstone

---
### Exercise 6 - is item in list or not?

Write a function **is_in_lists()** which will:
*  create a new list **all_locations** and with these locations:  Glasgow, Motherwell, Aberdeen, Stirling, Medway, Dartford, Dover
*  create a second list **notice_locations** and assign this set of locations:  Dartford, Medway, Aberdeen
*  check whether Medway is in both lists and print either "Medway is in both lists", or "Medway is in one list", or "Medway is not in either list", as appropriate.

## Test 1
Follow the instructions above.  The expected output is:  
`Medway is in both lists`

## Test 2
Remove Medway from the notice_locations list and run the code again.  The expected output is:  
`Medway is in one list`

## Test 3
Remove Medway from the all_locations list and run the code again.  The expected output is:  
`Medway is not in either list`

In [ ]:
def is_in_lists():
  all_locations=["Glasgow","Motherwell","Aberdeen","Stirling","Medway","Dartford","Dover"]
  notice_locations=["Dartford","Aberdeen","Medway"]
  loc = "Medway"
  if loc in all_locations and loc in notice_locations:
    print("Medway is in both lists")
  elif loc in all_locations or loc in notice_locations:
    print("Medway is in one list")
  else:
    print("Medway is not in either list")
is_in_lists()

Medway is not in either list



---
### Exercise 7 - get the position of a named element in a list

Write a function **remove_category(category)** which will:
*  create a new list **categories** with the following items: `['well being', 'local events', 'community events', 'families and parents', 'jobs and volunteering']`
*  create a new variable called position and assign it the position of the element `"community events"` in the list  
_Hint:  you can use `.index("community events")`_
*  print the `position`


## Test:
Following the instructions above the expected output is:  
```
2
```

In [ ]:
def remove_category():
  categories=["well being","local events","community events","families and parents","jobs and volunteering"]
  position=categories.index("community events")
  print(position)
remove_category()

2

---
### Exercise 8 - remove an item from a list

Write a function **remove_category(category)** which will:
*  create a new list **categories** with the following items: `['well being', 'local events', 'community events', 'families and parents', 'jobs and volunteering']`
*  remove the 'community events' element from the list
*  print the list using a loop


## Test:
Following the instructions above the expected output is:  
```
well being
local events
families and parents
jobs and volunteering
```

In [ ]:
def remove_categories():
  categories=['well being', 'local events', 'community events', 'families and parents','jobs and volunteering']
  categories.remove("community events")
  for i in categories:
    print(i)
remove_categories()

well being
local events
families and parents
jobs and volunteering

---
# List comprehension

You can use a special format for creating lists so that rather than typing all items of the list individually, they will be generated using Python code.

**Examples:**

Generate a list of twelve 0s (

`zero_list = [0 for x in range(12)]`

Generate a list of the numbers from 0 to 49

`fifty_list = [x for x in range(50)]`

Generate a list of the first 10 square numbers

`squares_list = [ x**2 for x in range(10)]`

Generate a list of the numbers from 5 to 15

`numbers_list = [x for x in range(5, 16)]`

Think about how these lists are being generated.  The first part describes what x will look like (always 0, the current number or the square of the current number)  the part `for x in range(...)` describes the number of items in the list and can sometimes be used to determine value.

Use the code box below to see what the output of the lists suggested above would look like.

In [ ]:
generated_list =zero_list = [0 for x in range(12)]
print(generated_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

---
### Exercise 9 - generate a list of numbers from 1 to 10

Write a function **generate_number_list()** that will:

*  use list comprehension techniques to create a list of all the whole numbers between 1 and 10
*  use a for loop to print the list one number per line

In [ ]:
def generate_number_list():
  number_list=[x for x in range(1,11)]
  for x in number_list:
    print (x)
generate_number_list()

1
2
3
4
5
6
7
8
9
10

---
### Exercise 10 - generate a list of the letters between A and Z using the ord() function (CHALLENGING)

Computers recognise letter as number codes (ASCII codes).  In this coding system the letter A is coded 65, the letter Z is coded 90 and all the other capital letters have the numbers in between, in order.

To get the letter, use chr(code)  e.g. chr(65) will give A, chr(68) will give D

Write a function **generate_alphabet()** that will:

*  use list comprehension to create the list of letters from A to Z using the numbers from 65 to 90 and converting the number (x) to its letter using chr(x)
*  print the list to show the alphabet

In [ ]:
def generate_alphabet():
  alphabet=[]
  for i in range(65,91):
   # print(chr(i))
    alphabet.append(chr(i))
  print(alphabet)
generate_alphabet()

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']